/node_modules
/coverage
/build
/dist
.next
.DS_Store
.env
.idea
next-env.d.ts
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/public/tmp
/public/sw.js
/public/sw.js.map
/public/workbox-*.js
/public/workbox-*.js.map
