{
  "bracketSpacing": true,
  "printWidth": 80,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "overrides": [
    {
      "files": "src/locales/**/*.js",
      "options": {
        "printWidth": 150
      }
    }
  ]
}
